@font-face {
  font-family: 'MinhaFonte';  
  src: url('MinhaFonte.ttf') format('truetype'); 
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #20833e;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'MinhaFonte';
    background-image: url(hck1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #a3c255;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contêiner do menu principal */
.menu-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border:2px solid #6fa341;;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 500px;
    display: block;
}

/* Contêiner do jogo (inicialmente escondido) */
.game-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'MinhaFonte';
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
}

.game-container button {
    width: auto;
    height:30px ;
    font-size: 13px;
    
}

.game-container h1 {
    margin: 0;
    font-size: 24px;
}

.game-container #btc {
    margin: 0;
    min-width: 120px;
}



/* Estilo do texto de BTC */
#btc {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Estilo dos botões */
button {
    background-color: rgba(56, 116, 80, 0.5); 
    color: #a3c255;
    padding: 10px 20px;
    margin: 10px 0;
    border: 5px solid #6fa341;
    cursor: pointer;
    font-family: 'MinhaFonte';
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}
/* Estilo dos botões ao passar o mouse */
.myButton:hover {
    background: linear-gradient(to bottom, #2e8200 5%, #2b4732 100%);
    background-color: #2e8200;
}
.myButton:active {
    position: relative;
    top: 1px;
}
/* Efeito de hover nos botões */
button:hover {
    background-color: #12681c;
}
/* Botões para upgrades */
button:disabled {
    background-color: #757575;
    cursor: not-allowed;
}